<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
 
    {{! import font style}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap" rel="stylesheet">
    {{! reference the client side js }}
    <script src="../navbar.js"></script>

    <link rel="stylesheet" href="./css/site.css">
</head>

<body>

    <div>
        <div class="header">
            <h1>BLOG THING</h1>
        </div>
        <div class="topnav" id="navbar">
            <class="navbar-links">
            <a href="./" class="{{#if homePage}} active{{/if}}">Home</a>

                {{#if user}}
                
                <a href="./myProfile" class="{{#if profilePage}} active{{/if}}">My Profile</a>
                <a href="./newArticle" class="{{#if newArticlePage}} active{{/if}}">Create Article</a>
                <a href="./myDetail" class="{{#if myDetailPage}} active{{/if}}">My Detail</a> 
                <a href="./logout" id="log">Log Out</a>
                <a href="javascript:void(0);" class="icon">
                    &#9776;
                </a>
            </div>
                {{else}}
                    <a href="./login" style="float:right; display:block">Log In</a>
                {{/if}}
        </div>
        
     </div>

        {{{body}}}

    </div>

    
<!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/javascripts/my-tinymce-config.js"></script>
    
</body>

</html>