<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}

    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Edu+VIC+WA+NT+Beginner&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/site.css">
</head>

<body>

    <div>
        <div class="header">
            <h1>PHOTOGRAPH AND DESIGN</h1>
        </div>
        <div class="topnav sticky" id="navbar">
            <a href="./" class="{{#if homePage}} active{{/if}}">Home</a>
            {{#if user}}
            <a href="./myProfile" class="{{#if profilePage}} active{{/if}}">My Profile</a>
            <a href="./newArticle" class="{{#if newArticlePage}} active{{/if}}">Create Article</a>
            <a href="./myDetail" class="{{#if accountPage}} active{{/if}}">My Detail</a> 
            <a href="./logout" style="float:right">Log Out</a>
            {{else}}
                 <a href="./newAccount" style="float:right">Register</a>
                 <a href="./login" style="float:right">Log In</a>
            {{/if}}
        </div>
        
     </div>

        {{{body}}}

    </div>

    
<!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/javascripts/my-tinymce-config.js"></script>
    
</body>
</html>
