<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}


<script src="https://cdn.tiny.cloud/1/sckm5o71dc31gq0xswts5ol39j26jqeok9lc5efsmjuo8lza/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>



    <link rel="stylesheet" href="./css/site.css">
</head>

<body>

    <div>
        <div class="header">
            <h1>My Blog</h1>
        </div>
        <div class="topnav">
            <a href="./" class="{{#if homePage}} active{{/if}}">Home</a>
            {{#if user}}
            <a href="./myProfile" class="{{#if profilePage}} active{{/if}}">My Profile</a>
            <a href="./newArticle" class="{{#if newArticlePage}} active{{/if}}">Create Article</a>
            <a href="./myDetail" class="{{#if accountPage}} active{{/if}}" style="float:right">My Detail</a> 
            <a href="./logout" style="float:right">Log Out</a>
            {{else}}
                 <a href="./newAccount" style="float:right">Register</a>
                 <a href="./login" style="float:right">Log In</a>
            {{/if}}
        </div>
     </div>






        {{{body}}}

    </div>

    

</body>

</html>
