 {{! Display a message if one was provided. }}
<!--
<h1>My stuff:</h1>
<ul>
    {{#each allTestData}}
    <li>{{this.stuff}}</li>
    {{/each}}
</ul>
-->

<!--ideally this is contained in Nav bar-->


<!-- <h1>A dragon:</h1>
<img src="./images/Dragonite.png">
-->


<div class="container">

    <h1>Hello, {{user.username}}!</h1>
    <p>This is your homepage!</p>
    <p>Click <a href="./logout">here</a> to log out.</p>
    <h1><a href="./newAccount">Register</a></h1>
    
</div>