<div>

    {{! reference the client side js }}
    <script src="../client.js"></script>

    {{! Display a message if one was provided. }}
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    <h1>New Account</h1>
    <form action="./newAccount" method="POST">
        <div>
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" id="txtUsername" required>
            <p id="unique-user-note"></p>
        </div>

        <div>
            <label for="txtPassword">New Password:</label>
            <input type="password" name="password" id="txtPassword" required>
        </div>

        <div>
            <label for="txtRePassword">Re-enter Password:</label>
            <input type="password" name="Repassword" id="txtRePassword" required>
            <p id="password-check-note"></p>
        </div>

        <div>
            <label for="txtFirstName">First Name:</label>
            <input type="text" name="fname" id="txtFirstName" required>
        </div>

        <div>
            <label for="txtLastName">Last Name:</label>
            <input type="text" name="lname" id="txtLastName" required>
        </div>

        <div>
            <label for="dateBirthdate">Date of Birth:</label>
            <input type="date" name="dateOfBirth" id="dateBirthdate" required>
        </div>

        <div>
            <label for="txtDescription">Brief description of yourself:</label>
            <textarea type="text" name="description" id="txtDescription" required>enter description here</textarea>
        </div>

        <div>
            <p>Choose your profile photo:</p> 
            <img id="profileImg" src="../avatar/avatar-default.png">
            <div id="avtarGallery">
                <img class="avatar" src="../avatar/avatar1.png">
                <img class="avatar" src="../avatar/avatar2.png">
                <img class="avatar" src="../avatar/avatar3.png">
                <img class="avatar" src="../avatar/avatar4.png">
                <img class="avatar" src="../avatar/avatar5.png">
                <img class="avatar" src="../avatar/avatar6.png">
            </div>
            
        </div>

        <div>
            <button id= "submitButton" type="submit">Create account</button>
        </div>
    </form>

</div>