@import url("./utils.css");

/* Fonts, misc */
/*****************************************************************/
* {
    font-family: 'Cormorant SC',"Trirong", Verdana, Geneva, sans-serif;
    color: #706F6F;
    line-height: 23px;
}

p, pre, th, td, li {
    font-size: 16px;
}

a {
    color: none;
    text-decoration: none;
}

a:visited {
    color: #706F6F;
}

h1, h2, h3 {
    color: #231F20;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
}

pre {
    font-family: Consolas, monospace;
}

p {
    text-align: justify;
}

img {
    object-fit: cover;
}

.code {
    font-family: Consolas, monospace;
}
/*****************************************************************/

/* Header/Blog Title */
/*****************************************************************/

.header {
    padding: 100px;
    text-align: center;
    background: white;
    background-image: url("../images/header-img.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .header h1 {
    font-size: 25px;
    color: #f1f1f1;
}
/*****************************************************************/


/* Main page layout */
/*****************************************************************/
body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

.container {
    margin: 20px 20px;
}

.content-container {
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;

}
/* add to single artile display
/* Page content */   
.content {
    padding: 16px;
}  

/*****************************************************************/

/* Top nav*/
/*****************************************************************/
.topnav {
    overflow: hidden;
    background-color: #333;
    text-align: center;
    position: sticky;
    top:0px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: darkolivegreen;
    color: white;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* .sticky + .content {
    padding-top: 60px;
  } */
  
  
/*****************************************************************/


/* Cards */
/*****************************************************************/
/* div.card {
    background-color: white;
    box-shadow: 3px 3px 5px #706F6F;
    display: flex;
    flex-direction: column;
}

div.card .card-header {
    width: 100%;
}

div.card .card-img {
    display: block;
} */

.card {
    border: 1px solid lightgray;
    /* flex-direction: row; */
    justify-content: center;
    float: left;
    width: 30%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
  }
  
  .card-image {
    width: 50%;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
    margin: 0px 5px 5px 5px;
  }

  .card-body p {
    text-align: center;
  }

  .card-title {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .card-time {
    font-style: italic;
    text-align: center;
  }

  /* .card-content {
    font-style: normal;
  } */

  .card-footer {
    margin: 2px;
  }


  .btn-box a {
    float:none;
    display: block;
    color: #313131;
    /* border: 1px solid #313131; */
    text-align: center;
    padding: 8px 40px;
    font-size: 15px;
  }
  
  .btn-box a:hover {
    background-color: #ddd;
    color: black;
  }

/* Clear floats after the card */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
/* 
div.card > .card-body {
    border: 1px solid #E6E7E9;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
} */

div.card > .card-footer {
    width: 100%;
}
/*****************************************************************/

 
/* Tables */
/*****************************************************************/
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 5px;
    color: #231F20;
}

.table th {
    font-weight: bold;
}

.table > thead {
    background-color: #d9ead3;
    border-top: 1px solid #3AAA35;
    border-bottom: 1px solid #3AAA35;
}

.table > tbody {
    border-bottom: 1px solid #706F6F;
}

.table > tbody > tr:nth-child(odd) {
    background-color: white;
}

.table > tbody > tr:nth-child(even) {
    background-color: #E6E7E9;
}

.table.table-hover > tbody > tr:hover {
    background-color: #B6B7B9;
}
/*****************************************************************/


/* Nav */
/*****************************************************************/
/* .nav {
    display: flex;
    flex-direction: row;
    background-color: #d9ead3;
    box-shadow: 0px 3px 5px #706F6F;
    justify-content: flex-start;
    align-items: baseline;
    padding: 2px 10px;
}

.nav .nav-brand {
    padding: 0px 10px;
}

.nav .nav-button {
    padding: 0px 10px;
    font-size: 20px;
    color: #706F6F;
    text-decoration: none;
    border-left: 1px solid #a9baa3;
}

.nav .nav-button.active {
    color: #231F20;
} */
/*****************************************************************/


/* Forms */
/*****************************************************************/
form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
/*****************************************************************/


/* editor */
/*****************************************************************/
.article-edit, .article-delete {
    text-align: right;
  }
  
  /* tinymce editor box */
  .new-article-container {
    margin: auto;
    max-width: 1000px;
  }

  /* header for editor page (new article creation) */
  #newArticleHeader {
    text-align: center;
}
  
  /* tinymce title input box */
  #tinyTitle {
    text-align: left;
    padding: 10px 10px 10px 10px;
    color: grey;
    margin: 50px 50px 50px 50px;
    border: 1px solid lightgray;
}
  
  /* tinymce submit button */
  button[type=submit] {
    background-color: #238dba;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input[type=button] {
    background-color: #87898a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
/*****************************************************************/


/* Responsive design */
/*****************************************************************/
@media screen and (min-width: 960px) {
    .container {
        width: 960px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
      text-align: center;
    }
  }

@media screen and (min-width: 900px) and (max-width: 1320px) {
    .card {
      width: 45%;
      text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .card {
      width: 90%;
      text-align: center;
    }
}
/*****************************************************************/